---
http_interactions:
- request:
    method: get
    uri: https://api.digitalocean.com/v2//regions
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <DIGITALOCEAN_API_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Ratelimit-Limit:
      - '1200'
      Ratelimit-Remaining:
      - '1192'
      Ratelimit-Reset:
      - '1412189566'
    body:
      encoding: UTF-8
      string: |
        {
          "regions":[
            {
              "slug":"nyc1",
              "name":"New York 1",
              "sizes":[
                "512mb",
                "8gb",
                "16gb",
                "32gb",
                "48gb",
                "64gb",
                "1gb",
                "2gb",
                "4gb"
              ],
              "available":true,
              "features":[
                "virtio",
                "backups"
              ]
            },
            {
              "slug":"ams1",
              "name":"Amsterdam 1",
              "sizes":[],
              "available":false,
              "features":[
                "virtio",
                "backups"
              ]
            },
            {
              "slug":"sfo1",
              "name":"San Francisco 1",
              "sizes":[
                "2gb",
                "4gb",
              [...]
