---
http_interactions:
- request:
    method: post
    uri: https://api.digitalocean.com/v2//account/keys
    body:
      encoding: UTF-8
      string: '{"name":"bogus"}'
    headers:
      Authorization:
      - Bearer <DIGITALOCEAN_API_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 422 Unprocessable Entity
      Ratelimit-Limit:
      - '1200'
      Ratelimit-Remaining:
      - '1193'
      Ratelimit-Reset:
      - '1412189566'
    body:
      encoding: UTF-8
      string: |
        {
          "id":"unprocessable_entity",
          "message":"Key can't be blank"
        }
  recorded_at: Wed, 01 Oct 2014 18:31:27 GMT
recorded_with: VCR 2.9.3
